{% extends 'base.html' %}

{% block title %} All Products{% endblock %}
{% block content %}
<h3>All Products</h3>
<hr>
{%for category in category_list%}
<h4 class="text-warning">{{category.title}}</h4>
<div class="row">
    {% for product in category.product_set.all %}
    <div class="col-md-4">
        <div class="m-3">
            <h4><a href="{% url 'ecomapp:productdetail' product.slug %}">{{product.title}}</a></h4>
            <img class="mt-3" src="{{product.image.url}}" alt="" srcset="" class="img-fluid"
                style="height: 250px;object-fit: cover;">
            <p class="mt-3">Price: <strike>Rs. {{product.marked_price}}</strike> Rs.{{product.selling_price}}</p>
            <a href="{% url 'ecomapp:addtocart' product.id %}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock%}